<!DOCTYPE html>
<html lang="ru-RU">
    <%- include('./partials/head') %> 
    <body id="body">
        <div class="mainBlock">
            <%- include('./partials/map')  %> 
            <div id="list"></div>
            <div class="downMenu">
                <div class="commonBox">
                    <div class="topSpace">
                        <div class="drag"></div>
                    </div>
                    <div class="headMenu">Ближайшие и избранные остановки&#8195;&#8195;<span class="switchMenuStyle" onclick="switchMenu()">&#8658;</span></div>
                    <div class="busStop">
                        <div class="busStopLeft">
                            <%- include('./partials/busStop', {colorBlock: 'blueBlock'})   %> 
                        </div>
                        <div class="busStopRight">
                            <%- include('./partials/busStop', {colorBlock: 'orangeBlock'})   %> 
                        </div>
                    </div>
                </div>
                <%- include('./partials/favoriteAddress') %>
                <%- include('./partials/nextToYou') %>
                <div class="commonBox" style="display: none;">
                    <div class="textName">Интересное</div>
                    <div class="boxOfPromote">
                        <div class="boxForPromote"></div>
                        <div class="boxForPromote"></div>
                        <div class="boxForPromote"></div>
                    </div>
                </div>
            </div>
            <div class="downMenuLeft">
                <div class="commonBox">
                    <div class="topSpace">
                        <div class="drag"></div>
                    </div>
                    <div class="headMenu">Выберите тип передвижения&#8195;&#8195;&#8195;&#8195;<span class="switchMenuStyle" onclick="switchMenu()">&#8656;</span></div>
                </div>   
                <div class="commonBox2">
                    <div class="boxContainer">
                        <%- include('./partials/boxOfPlace', {title: 'Самокаты', image: 'here1.png'})  %> 
                        <%- include('./partials/boxOfPlace', {title: 'Велосипед', image: 'here2.png'})  %> 
                        <%- include('./partials/boxOfPlace', {title: 'Пешком', image: 'here3.png'})  %> 
                        <%- include('./partials/boxOfPlace', {title: 'Мобильно', image: 'here4.png'})  %> 
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="/ecotrop/js/mainFunction.js"></script>
    </body>
</html>