<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <%- include("./partials/nav")  %> 
    <%- include("./partials/map")  %> 
    <%- include("./partials/mapOverlay")  %> 
    <%- include("./partials/spinner")  %> 
    <%- include("./partials/activeHemical")  %> 
    <%- include("./partials/addStation")  %> 
    <script src="/ecopoint/scripts/utilits.js"></script>
    <script src="/ecopoint/scripts/index.js"></script>
    <script src="/ecopoint/scripts/hex.js"></script>

</body>

</html>